body {
    font-family: Arial, sans-serif;
    background: #f3f7f4; /* soft natural greenish white */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background: #ffffff;
    width: 400px;
    height: 80vh;   
    min-height: 550px;
    border-radius: 16px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.08);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#chat-box {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 6px;
}

#chat-box p {
    background: #e9f2ec;
    padding: 10px 14px;
    border-radius: 10px;
    margin-bottom: 8px;
    line-height: 1.4;
}

#chat-box p b {
    color: #5b7763;
}
.input-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#user-input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d6e2db;
    outline: none;
    transition: 0.2s;
}


#user-input:focus {
    border: color #7aa892;
}

#send-btn {
    padding: 12px 15px;
    border-radius: 12px;
    border: none;
    background: #7aa892;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#send-btn:hover {
    background: #6b967f;
}

#typing {
    opacity: 0.7;
    font-style: italic;
    margin-bottom: 8px;
}

.mood-tage {
    font-size: 12px;
    color: #648375;
    margin-top: -4px;
    margin-bottom: 6px;
    opacity: 0.85;
    font-style: italic;
}