
/* Font imports for Motserrat Alternates and Quicksand*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: Arial, sans-serif;
    background: #f3f7f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background: #ffffff;
    width: 400px;
    height: 80vh;   
    min-height: 550px;
    border-radius: 16px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.08);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#chat-box {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 6px;
}

#chat-box p {
    background: #e9f2ec;
    padding: 10px 14px;
    border-radius: 10px;
    margin-bottom: 8px;
    line-height: 1.4;
}

#chat-box p b {
    color: #5b7763;
}
.input-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#user-input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d6e2db;
    outline: none;
    transition: 0.2s;
}


#user-input:focus {
    border: color #7aa892;
}

#send-btn {
    padding: 12px 15px;
    border-radius: 12px;
    border: none;
    background: #7aa892;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#send-btn:hover {
    background: #6b967f;
}

#typing {
    opacity: 0.7;
    font-style: italic;
    margin-bottom: 8px;
}

.mood-tag {
    font-size: 12px;
    color: #6d8375;
    margin-top: -4px;
    margin-bottom: 6px;       
    opacity: 0.85;
    font-style: italic;
}

#breathing-box {
    background: #eef6f1;
    padding: 16px;
    border-radius: 14px;
    text-align: center;
    margin: 12px 0;
}

#breathing-circle {
    width: 60px;
    height: 60px;
    margin: 15px auto;
    border-radius: 50%;
    background: #7aa892;
    animation: breathe 6s infinite ease-in-out;
    opacity: 0.9;
}

/* Animation which imitates real breathing rhythm */
@keyframes breathe {
    0% { transform: scale(0.9); opacity: 0.8; }
    50% { transform: scale(1.3); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.8; }
}

#finish-breathing {
    margin-top: 10px;
    padding: 8px 14px;
    background: #7aa892;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

#finish-breathing:hover {
    background: #656c79;
}

.app-title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #7aa892;
    letter-spacing: 0.5px;
}

.app-subtitle {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    color: #2d3832;
}